:root{
    /* custom properties in here */
    --background-color: #f5f5f5;
}
*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    text-transform: lowercase; /*this might look lazy but... why do i like it??*/
}

body{
    background-color: var(--background-color);
}

.header__wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 1.5rem /*25px*/;
}

.header__list{
    display: flex;

    text-transform: lowercase;
}

.header__list-item {
    list-style-type: none;
}

.header__list-link {
    /* color: #303030; */
    /* text-decoration: none; */
    padding: 0.6rem 1.8rem /*10px 30px*/; 
}

.section{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.section__container{
    display: flex;
    align-items: center;
}

.section__img{
    max-width: 6.25rem /*100px*/;
    margin: 0 1.5rem;

    /*drop-shadow(offset-x offset-y blur-radius color)*/
    filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.4));
}

.section__text{
    margin: 1.5rem;
    padding-bottom: 6.25rem;
}

/* At < 700px screen size, hide desktop nav & display mobile */
@media screen and (max-width: 700px ){
    .mobile-nav{
        display: block;
    }
    .desktop-nav{
        display: none;
    }
}

.project-number{
    text-decoration: underline;
    text-decoration-style: wavy;
}

.project__cover{
    overflow: hidden;
}

.project__img{
    max-width: 31.25rem;

    transition: transform .5s ease;
}

.project__img-cap{
    text-align: center;
}

.project__cover:hover .project__img{
    transform: scale(1.1);
}

.work{
    margin: 0 auto;
    max-width: 50rem;
}

.project__container{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    gap: 2rem;
    margin: 4rem /*30px*/ 0;
}

.project__text{
    padding-right: 1rem;
}

.project__title{
    margin: 0.5rem 0;
}

/* sets max width for any content in wrapper
so when this wrapper is applied, content has nice uniform container and is responsive */
.wrapper{
    margin: 0 auto;
    max-width: 75rem /*1200px*/;
}

.footer{
    margin: 2rem 0;
}

.footer__list-item{
    list-style-type: none;
}

/*RESUME*/

.resume{
    margin: 0 auto;
    max-width: 40rem;
}

.resume__header{
    margin: 2rem 0;
    text-decoration:underline;
}

.resume__section{
    margin: 4rem 0;
}

.resume__section-title{
    margin: 1rem 0;
}

.resume__section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.resume__section-col-2{
    text-align: right;
}

.resume__list{
    margin: 1rem 3rem;
}

.resume__list-item{
    margin-bottom: 1rem;
}

.casestudy__img{
    max-width: 30rem;
}